.container {
    padding-top: 5%;
}

.btn {
    background: #FF0080;
    color: white;
    margin: 20px;
}

.form-control {
    border: 1px solid #FF0080;
}

.color-card {
    width: 20px;
    height: 20px;
     float: left;
}
.color-card:hover{
    opacity: 0.5;
}
iframe{
    border: 1px solid #FF0080;
}